<!DOCTYPE html>
<html>
	<head>
  		<title>TinyApp</title>
	</head>

	<body style="font-size:20px; padding:50px;">
		<%- include ./partials/_header %>
    	<% for (var key in urls) { %>
		<form action="/urls/<%= key %>/delete" method="POST" style="margin:15px;">
      		<label ><%= key %>:</label>
      		<label ><%= urls[key] %></label>
      		<input type="submit" value="Delete">
      		<a href="/urls/<%=key %>">edit</a>
    	</form>
		<% } %>  

	</body>

</html>


